
<!-- using flex -->
<div class="container">
<div class="flex-container" fxLayout="row wrap" fxLayoutGap="37px">
       <div  *ngFor="let i of foods" fxFlex="30">
        <mat-card class="example-card"  >
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="Photo of a Shiba Inu">
            {{i.value}}
            {{i.viewValue}}
          </mat-card>       
        </div>
    </div>
  </div>


 
<!-- <div class="example-button-container m-2">
  <button mat-raised-button (click)="formControl.disable()">Disable form control</button>
  <button mat-raised-button (click)="formControl.enable()">Enable form control</button>

  <mat-form-field class="example-chip-list w-100" appearance="fill">
      <mat-label>Video keywords</mat-label>
      <mat-chip-list #chipList aria-label="Video keywords" multiple [formControl]="formControl">
          <mat-chip *ngFor="let keyword of keywords" [selected]="keyword" [value]="keyword"
              (removed)="removeKeyword(keyword)">
              {{keyword}}
          </mat-chip>
          <input placeholder="New keyword..." [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="addKeywordFromInput($event)">
      </mat-chip-list>
  </mat-form-field>
</div> -->