
<div class="container">
    <div class="row">
       <div class="col-md-4" *ngFor="let i of foods" >
        <mat-card class="example-card"   >
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            {{i.value}}
            {{i.viewValue}}
          </mat-card>        
        </div>
    </div>
</div>
<div class="flex-container" fxLayout="row" fxLayoutGap="32px">
       <div  *ngFor="let i of foods" fxFlex >
        <mat-card class="example-card"  >
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            {{i.value}}
            {{i.viewValue}}
          </mat-card>        
        </div>
    </div>
    <div class="numbers" fxLayout="row" fxLayoutGap="32px">
       <mat-card>1</mat-card>
       <mat-card>2</mat-card>
       <mat-card>3</mat-card>
     </div>