<div class=" row">
  <!-- <app-hedertable1></app-hedertable1> -->
   <div class="container">
        <div class="co-md-12 mt-4">
            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
               <ng-container >
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name </th>
                    <td mat-cell *matCellDef="let  data"> {{data.name}} </td>
                  </ng-container>                 
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> email </th>
                    <td mat-cell *matCellDef="let data"> {{data.email}} </td>
                  </ng-container>              
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> title </th>
                    <td mat-cell *matCellDef="let data"> {{data.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="key_name">
                    <th mat-header-cell *matHeaderCellDef> key_name </th>
                    <td mat-cell *matCellDef="let data"> {{data.key_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="dtype">
                    <th mat-header-cell *matHeaderCellDef> dtype </th>
                    <td mat-cell *matCellDef="let element"> {{element.dtype}} </td>
                  </ng-container>
                </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table> -->
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container *ngFor="let stud of displayedColumns  ">
                 
                      <ng-container [matColumnDef]="stud">
                        <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[stud]}} </td>
                      </ng-container>
                    </ng-container>
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
    </div>
</div>
