<div class=" row">
   <div class="container">
        <div class="co-md-12 mt-4">
            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
               <ng-container >
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name</th>
                    <td mat-cell *matCellDef="let  data"> {{data.name}} </td>
                  </ng-container>                 
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> email </th>
                    <td mat-cell *matCellDef="let data"> {{data.email}} </td>
                  </ng-container>    
                  <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> age </th>
                    <td mat-cell *matCellDef="let data"> {{data.age}} </td>
                  </ng-container>              
                        
              
                </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator #paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]">
</mat-paginator> -->

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
                <ng-container *ngFor="let stud of displayedColumns  ">
                 
                      <ng-container [matColumnDef]="stud">
                        <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[stud]}} </td>
                      </ng-container>
                    </ng-container>
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator #paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10]">
            </mat-paginator>

            </div>
    </div>
</div>
