<p>Student Details</p>
<p *ngIf="showFiller">
    <mat-card>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                        <mat-label>Your name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                </tr>
                <tr>            
                <td>
                    <label id="example-radio-group-label">Pick your stream</label><br>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="favoriteStream">
                        <mat-radio-button class="example-radio-button" 
                        *ngFor="let stream of streams" [value]="stream">
                            {{stream}}
                        </mat-radio-button>
                    </mat-radio-group><br>
                    <div>You are in {{favoriteStream}} Enginnering</div>
                </td>
            </tr>
            <tr>
                <mat-form-field>
                    <mat-select [(value)]="selected" multiple>
                      <mat-select-trigger>
                        {{selected ? selected : ''}}</mat-select-trigger>
                      <mat-option *ngFor="let column of columns" 
                      [value]="column.value">{{column.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <p>You selected: {{selected}}</p>
            </tr>
            <button mat-raised-button color="accent" [disabled]="modeOn" >Submit</button>
        </table>

    </mat-card>
</p>
<button (click)="showFiller = !showFiller" mat-raised-button>
    Add new entry
</button>