<div class="container mt-3 structure-table">
  <table class="table">
    <tr>
      <th *ngFor="let i of treeHeaders">{{i.headerNames}}</th>
    </tr>
  </table>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="flex-container" fxLayout="row"  fxLayoutAlign="space-between">
        <div *ngFor="let i of treeHeaders;let indexOfelement=index;" 
        [fxFlex]="indexOfelement!=0 ? '50%': '' ">
          {{node[i.headerKey]}} 
        </div>
      </div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding  id="sample_id">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name ">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="flex-container" fxLayout="row"  fxLayoutAlign="space-between">
        <div *ngFor="let i of treeHeaders; let indexOfelement=index;" 
        [fxFlex]="indexOfelement!=0 ? '50%': '' ">
          {{node[i.headerKey]}}
        </div>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>

