<div class="container mt-3 structure-table">
  <table class="table">
   <tr>
      <th *ngFor="let i of treeHeaders">{{i.headerKey}}</th> 
    </tr>
  </table>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div fxLayout="row" fxLayoutAlign="space-between" class="flex">{{node.name}}</div>
      <div fxLayout="row" fxLayoutAlign="space-between">{{node.prize}}</div>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name ">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div fxLayout="row" fxLayoutAlign="space-between" class="flex">{{node.name}}</div>
      <div fxLayout="row" fxLayoutAlign="space-between">{{node.prize}}</div>
    </mat-tree-node>
  </mat-tree>
</div>