<div class="container">
  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container *ngFor="let stud of displayedColumns  ">
     
          <ng-container [matColumnDef]="stud">
            <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
            <td mat-cell *matCellDef="let element"> {{element[stud]}} </td>
          </ng-container>
        </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <table class="table"><tr>
        <th>Fruits Names</th>
       
        <th>Fruits Prize</th>
      </tr>
      <tr>
       
        <td><button mat-icon-button disabled></button>
          {{node.name}} </td>
        <td>{{node.prize}}</td>
      </tr>
    </table>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name +node.prize">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
</div>
<!-- tree-table -->