<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
 
    <mat-drawer #drawer [mode]="hasBackdrop.value">
        <app-sidenav-form (newItemEvent)="addItem($event)" [editData]="data"
        [editMode]="modeOn"   (sidenavIem)="addsidenav($event)"></app-sidenav-form>
       <button mat-button (click)="close('toggle button')" class="float-right">Close Sidebar</button>
    </mat-drawer>
    <mat-drawer-content isOpen="true">
      <mat-form-field appearance="fill">
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.open()">Add New Record</button>
<!-- <button opened = !this.opened (click)="onclick()">click</button>opened -->
 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <ng-container *ngFor="let stud of displayedColumns  ">
          <ng-container *ngIf="stud!=='edit';else editItem ">
            <ng-container *ngIf="stud!=='delete';else deleteitem ">
              <ng-container [matColumnDef]="stud">
                <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
                <td mat-cell *matCellDef="let element"> {{element[stud]}} </td>
                
              </ng-container>
             </ng-container>
          </ng-container> 
          <ng-template #editItem>
            <ng-container [matColumnDef]="stud">
              <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
              <td mat-cell *matCellDef="let element;let i=index">
                <button type="button" mat-raised-button color="primary" (click)="updateInfo(element)" (click)="drawer.toggle()">edit</button>
              </td>
            </ng-container>
          </ng-template>
         
          <ng-template #deleteitem>
            <ng-container [matColumnDef]="stud">
              <th mat-header-cell *matHeaderCellDef> {{stud}} </th>
              <td mat-cell *matCellDef="let itemd ; let i=index">
                <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                  <mat-icon (click)="deleteInfo(i)">delete</mat-icon>
                </button>
              </td>
            </ng-container>
          </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-drawer-content>
  </mat-drawer-container>
  <!-- <button id="close"  class="close-btn">Close Sidebar</button> -->
                  
  