<mat-card>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(recordId)">
        <div class="example-container">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required name="email" id="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </mat-form-field>
        </div>
        <div class="w-100">
            <mat-label>Choose gender</mat-label>
        </div>
        <div>
            <mat-radio-group aria-label="Select an option" formControlName="genders"><br>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Select Year</h4>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Select Year</mat-label>
                    <mat-select formControlName="toppings" multiple required>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <h4>Select State</h4>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="selectstate" required [(ngModel)]="userName">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <button mat-button color="primary" type="submit" [disabled]="userName === ''">
            {{editMode ? 'update' : 'submit'}}
        </button>
    </form>
</mat-card>
<br>